body {

font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;

  background: #EEEEEE;
  padding-top: 10px;
  padding-bottom: 20px;
height: 120%;
}

.container {
max-width: 700px;
}



/* NAV BAR */
.nav-pic {
  margin: -2px 5px 0 0;
  max-height: 20px;
  border-radius: 100px;

}
.navbar {

}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


/* MAIN POSTS PAGE */
.post {

  height:4em;
  background: #fff;
  padding: -5px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   margin-right: 0px;
    margin-left: 3px;
    margin-bottom: 2px;
    border-radius: 5px;

}
.post2 {
  padding-top: 18px;
  padding-left: 10px;
  height: 100%;
  float: left

}
.post3{
  padding-top: 15px;
  padding-right: 10px;
  float: right;

  height: 100%;
}

.glyphicon {
  outline: 0;

  color: #555;
}
.dropdown-menu {
  margin: -15px 0px 0px;
  min-width: 180px;
  padding-left: 10px;

}
.post-menu {


  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 5px;
}

li.post-menu:hover {

  background-color: #ccd;
}

.box {
  border: 1px solid #fff;
  float: left;
  width: 15px;
  height: 100%;

  min-height: 1px;

}

.showpost {
  background: #fff;
  height: 100%;
  padding: 14px 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.info {

  font-size: 16px;
}

.post:hover{
  background-color: rgb(214, 214, 214)
}

.info .url {
  font-weight: normal;
  color:#999;
  font-size:13px;
  margin-left:5px;
}


/* PROFILE PAGE */
.prof-img{
  width:100%;
  max-width:100px;
  border-radius: 100px;
}
.name {
  font-weight: bolder;
  font-size: 1.5em;
}

.nav-tabs {
  margin-top:30px;
}

.vote {
  height:20px;
  cursor: pointer;
}

.auth-forms {
  max-width:400px;
  margin:0 auto;
  background: #fff;
  padding:1px 25px 25px 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.cmt-form {
  margin-top:10px;
}

.cmt {
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #ccc;
}

.cmt .author {
  font-size:11px;
  color:#bbb;
}


#close {
    float:right;
    display:inline-block;
    padding:0px 0px;


}

.iconclose {

font-size: 1em;

}


.timeline {
    list-style: none;
    padding: 5px 0 5px;
    position: relative;
    margin-top: 20px;

}

    .timeline:before {
        top: 5px;
        bottom: 25px;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 0%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 95%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 10px;
            position: relative;
            margin-left: 20px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 0px;
                right: 0px;
                display: none;
                border-top: 0px solid transparent;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 0px solid transparent;
                content: " ";
            }



        .timeline > li > .timeline-badge {
            color: #fff;
            width: 10px;
            height: 10px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 0px;
            left: 0%;
            margin-left: -5px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }



.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 0px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(95%);
        width:
        -webkit-calc(95%);
    }

    ul.timeline > li > .timeline-badge {
        left: -5px;
        margin-left: 0;
        top: 0px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: 1000px;
            right: auto;
        }
}




.progress {
    margin-bottom: 15px;
}





md-list-item > md-checkbox:first-child, md-list-item .md-list-item-inner > md-checkbox:first-child {
    width: 10px;
    margin-left: 2px;
    margin-right: 15px;

}

md-list-item > .md-avatar, md-list-item .md-list-item-inner > .md-avatar {
    width: 10px;
    height: 10px;
}

.lead {
  margin-bottom: 5px;
}
.md-checkbox-div{
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
}



.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


.right {
float: right;
}

.circle {
      width: 40px;
    height: 40px;
    border-radius:30px;
}

.status {

    width: 10px;
    height: 60px;
    margin-right: 15px;
}

md-list-item .md-no-style {
    position: relative;
    padding: 0px 0px;
    flex: 1 1 auto;
}


hr {
  margin-top: 0;
  margin-bottom: 0;
}

textarea {
    resize: none;

}

.collapse {
margin-left: 5px;
margin-right: 0px;}
