<ul class="timeline">

    <li  ng-repeat="comment in comments | reverse">

      <div class="timeline-badge warning"></div>
      <div class="timeline-panel">
        <!--<span id="close" class="glyphicon glyphicon-check" aria-hidden="true"></span>
        <span id="close" class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
        <a ng-href=""
        ng-click="deleteComment(comment)"
        ng-show="signedIn() && comment.creatorUID === user.uid"><span style="font-size:1em;"class="close glyphicon glyphicon-remove" aria-hidden="true"></span></a>


        <div class="timeline-heading">
          <h4 class="timeline-title">{{comment.text}}</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{comment.timestamp | date}}</small></p>
        </div>
        <div class="timeline-body" ng-bind-html="comment.body">
          
        </div>
      </div>
    </li>

</ul>
