<div class="posts-page">
<form  ng-submit="submitPost()" ng-show="signedIn()">
      <div class="form-group">

        <input type="text" class="form-control" placeholder="Add a Task" ng-model="post.title">

      </div>


      <!--<button type="submit" class="btn btn-default">Submit</button>-->
    </form>
    <div class="jumbotron" ng-hide="signedIn()">
        <h2><b>Lodos</b>, a new way of thinking</h2>
        <p class="lead">Follow your tasks, track your progress and achieve your goals.</p>
        <p><a class="btn btn-lg btn-success" href="#/register" role="button">Sign up today</a></p>

      </div>


<div class="post" ng-repeat="post in posts | reverse" ng-show="user.uid === post.creatorUID">

<div class="box btn-{{post.progress | progressRange }}"></div><div class="post2 info">
     <a href="#/posts/{{ post.$id }}" >{{ post.title }}</a></div>
     <div class="dropdown post3">
               <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 1.3em" data-toggle="dropdown">
               </span>
               <ul class="dropdown-menu dropdown-menu-right" >
                   <li class="post-menu" ><span class="glyphicon glyphicon-ok"></span> Mark as Completed</li>
                   <li class="post-menu" ><span class="glyphicon glyphicon glyphicon-user"></span> Add a Friend</li>
                   <li class="post-menu" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID"><span class="glyphicon glyphicon-trash"> </span> Delete</li>
               </ul>
           </div>
</div>




  </div>
