<div class="showpost">
<div class=" lead">
  <a ng-href="{{ post.url }}">{{ post.title }}</a>
  <div class="dropdown" style="float:right">
                <span ng-click="selectedNode=true" class="glyphicon glyphicon-menu-hamburger" style="font-size: 1.1em" data-toggle="dropdown">
                </span>
                <ul class="dropdown-menu dropdown-menu-right" >
                    <li class="post-menu" ><span class="glyphicon glyphicon-ok"></span> Mark as Completed</li>
                    <li class="post-menu" ><span class="glyphicon glyphicon-edit"></span> Add a Note</li>
                    <li class="post-menu" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID"><span class="glyphicon glyphicon-trash"> </span> Delete</li>
                </ul>
            </div>
</div>

<div class="progress" id="foo" ng-mousedown="mouseDown($event)">
  <div class="progress-bar progress-bar-{{post.progress | progressRange }}" role="progressbar" aria-valuenow="{{post.progress}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{post.progress}}%">

  </div>
</div>


<!--<a ng-href="#/posts">Back to Posts</a>-->

<!--<div ng-repeat="comment in comments" class="row cmt">
  <div class="col-md-10">
    <p>{{ comment.text }}</p>
    <p class="author">posted by
      <a ng-href="#/users/{{ comment.creatorUID }}">
        {{ comment.creator }}
      </a>
      <a ng-href=""
        ng-click="deleteComment(comment)"
        ng-show="signedIn() && comment.creatorUID === user.uid">
        (delete)
      </a>
    </p>
  </div>
</div>-->

 <button class="btn btn-info" data-toggle="collapse" data-target="#demo">Add a MileStone</button>
 <div id="demo" class="collapse">
<br>
  <form ng-show="signedIn()" ng-submit="addComment()">
    <div class="form"> <textarea style="height: 32px;font-weight:500; color:black" rows="1" ng-model="commentText" placeholder="Add a Milestone" class="form-control"></textarea>
      <hr><textarea class="form-control p" rows="3" ng-model="commentBody" placeholder="Add a Description..."  ></textarea>
    </div> <br><input type="submit" value="Post" class="btn btn-primary" data-toggle="collapse" data-target="#demo"/>
    </form>
</div>


<milestone ></milestone>
